<div class=container>
  <div class='header'>
    <div class='title'>
      Tickets
    </div>
    <div class='scopes'>
      <%= link_to 'Crear Tickets', new_ticket_path %>
    </div>
  </div>


  <div class='main'>
   <table>
     <thead>
       <tr>
         <th>Nombre</th>
         <th>Tickets Disponible</th>
         <th>Tickets Utilizados</th>
         <th></th>
       </tr>
     </thead>

     <tbody>
       <% @tickets.each do |ticket| %>
         <tr>
           <td><%= ticket.nombre %></td>
           <td><%= ticket.disponible %></td>
           <td><%= ticket.utilizados %></td>
           <td></td>
           <td><%= link_to 'Editar', edit_ticket_path(ticket)%></td>
         </tr>
       <% end %>
     </tbody>
   </table>
  </div>
</div>
